<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>mobileBackends</key>
        <dict>
            <key>mcs_examples_sync_salesplus/1.0</key>
            <dict>
                <key>synchronization</key>
                <dict>
                    <key>maxStoreSize</key>
                    <integer>100</integer>
                    <key>periodicRefreshPolicy</key>
                    <string>PERIODIC_REFRESH_POLICY_PERIODICALLY_REFRESH_EXPIRED_ITEMS</string>
                    <key>periodicRefreshInterval</key>
                    <integer>60</integer>
                    <key>policies</key>
                    <array>
                        <dict>
                            <key>path</key>
                            <string>/mobile/custom/mcs_examples_sync_salesplus/leads/**</string>
                            <key>expirationPolicy</key>
                            <string>EXPIRE_AFTER</string>
                            <key>expireAfter</key>
                            <string>1200</string>
                            <key>evictionPolicy</key>
                            <string>EVICT_ON_EXPIRY_AT_STARTUP</string>
                            <key>conflictResolutionPolicy</key>
                            <string>PRESERVE_CONFLICT</string>
                        </dict>
                        <dict>
                            <key>path</key>
                            <string>/mobile/custom/mcs_examples_sync_salesplus/reminders/**</string>
                            <key>fetchPolicy</key>
                            <string>FETCH_FROM_SERVICE_ON_CACHE_MISS_OR_EXPIRY</string>
                            <key>expirationPolicy</key>
                            <string>EXPIRE_AFTER</string>
                            <key>expireAfter</key>
                            <string>60</string>
                            <key>conflictResolutionPolicy</key>
                            <string>SERVER_WINS</string>
                        </dict>
                    </array>
                    <key>defaultPolicy</key>
                    <dict>
                        <key>fetchPolicy</key>
                        <string>FETCH_POLICY_FETCH_FROM_SERVICE_IF_ONLINE</string>
                        <key>evictionPolicy</key>
                        <string>EVICT_ON_EXPIRY_AT_STARTUP</string>
                        <key>expirationPolicy</key>
                        <string>EXPIRE_AFTER</string>
                        <key>expireAfter</key>
                        <string>150</string>
                        <key>conflictResolutionPolicy</key>
                        <string>CLIENT_WINS</string>
                    </dict>
                </dict>
                <key>default</key>
                <true/>
                <key>baseURL</key>
                <string>HTTPS://EDIT_IN_SETTINGS_BUNDLE</string>
                <key>appKey</key>
                <string>EDIT_In_MCSSyncManager_Class</string>
                <key>authorization</key>
                <dict>
                    <key>OAuth</key>
                    <dict>
                        <key>tokenEndpoint</key>
                        <string>HTTPS://EDIT_IN_SETTINGS_BUNDLE</string>
                        <key>clientID</key>
                        <string>EDIT_IN_SETTINGS_BUNDLE</string>
                        <key>clientSecret</key>
                        <string>EDIT_IN_SETTINGS_BUNDLE</string>
                    </dict>
                </dict>
            </dict>
        </dict>
        <key>logLevel</key>
        <string>debug</string>
        <key>logHTTPRequestBody</key>
        <true/>
        <key>logHTTPResponseBody</key>
        <true/>
    </dict>
</plist>
